@charset "UTF-8";

:root {
  --animation-transform: none;
  --animation-duration: none;
  --animation-duration-shadow: none;
  --animation-duration-symmetry: none;
  --animation-origin: 0 0;
}

/* blocks moving animation */
.animation-block {
  animation: animation-block cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  animation-duration: var(--animation-duration);
}

@keyframes animation-block {
  0% {
    transform: var(--animation-transform);
  }

  100% {
    transform: translate(0, 0);
  }
}

.animation-shadow {
  animation: animation-shadow linear forwards;
  animation-duration: var(--animation-duration-shadow);
}

@keyframes animation-shadow {
  0% {
    opacity: 0.5;
  }

  30% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
  }
}

/* blocks completed animation */
.animation-point1 {
  transform-origin: var(--animation-origin);
  animation: animation-point1 linear forwards;
  animation-duration: var(--animation-duration-symmetry);
}

@keyframes animation-point1 {
  0%,
  100% {
    transform: rotate(0deg);
  }

  40%,
  80% {
    transform: rotate(180deg);
  }
}

.animation-point2 {
  transform-origin: var(--animation-origin);
  animation: animation-point2 linear forwards;
  animation-duration: calc(var(--animation-duration-symmetry) * 2.5);
}

@keyframes animation-point2 {
  0% {
    transform: rotate(0deg);
  }

  10%,
  25% {
    transform: rotate(90deg);
  }

  35%,
  50% {
    transform: rotate(180deg);
  }

  60%,
  75% {
    transform: rotate(270deg);
  }

  85%,
  100% {
    transform: rotate(360deg);
  }
}

.animation-line1 {
  transform-origin: var(--animation-origin);
  animation: animation-line1 linear forwards;
  animation-duration: var(--animation-duration-symmetry);
}

@keyframes animation-line1 {
  0%,
  100% {
    transform: scaleX(1);
  }

  40%,
  80% {
    transform: scaleX(-1);
  }
}

.animation-line2 {
  transform-origin: var(--animation-origin);
  animation: animation-line2 linear forwards;
  animation-duration: var(--animation-duration-symmetry);
}

@keyframes animation-line2 {
  0%,
  100% {
    transform: scaleY(1);
  }

  40%,
  80% {
    transform: scaleY(-1);
  }
}

.animation-line3 {
  transform-origin: var(--animation-origin);
  animation: animation-line3 linear forwards;
  animation-duration: var(--animation-duration-symmetry);
}

@keyframes animation-line3 {
  0%,
  100% {
    transform: rotate3d(1, 1, 0, 0deg);
  }

  40%,
  80% {
    transform: rotate3d(1, 1, 0, 180deg);
  }
}

.animation-line4 {
  transform-origin: var(--animation-origin);
  animation: animation-line4 linear forwards;
  animation-duration: var(--animation-duration-symmetry);
}

@keyframes animation-line4 {
  0%,
  100% {
    transform: rotate3d(1, -1, 0, 0deg);
  }

  40%,
  80% {
    transform: rotate3d(1, -1, 0, 180deg);
  }
}

.animation-plus1 {
  transform-origin: var(--animation-origin);
  animation: animation-plus1 linear forwards;
  animation-duration: calc(var(--animation-duration-symmetry) * 2.5);
}

@keyframes animation-plus1 {
  0%,
  90%,
  100% {
    transform: scaleX(1) scaleY(1);
  }

  15%,
  25% {
    transform: scaleX(-1) scaleY(1);
  }

  40%,
  50% {
    transform: scaleX(-1) scaleY(-1);
  }

  65%,
  75% {
    transform: scaleX(1) scaleY(-1);
  }
}

.animation-plus2 {
  transform-origin: var(--animation-origin);
  animation: animation-plus2 linear forwards;
  animation-duration: calc(var(--animation-duration-symmetry) * 2.5);
}

@keyframes animation-plus2 {
  0%,
  90%,
  100% {
    transform: rotate3d(1, 1, 0, 0deg) rotate3d(1, -1, 0, 0deg);
  }

  15%,
  25% {
    transform: rotate3d(1, 1, 0, 180deg) rotate3d(1, -1, 0, 0deg);
  }

  40%,
  50% {
    transform: rotate3d(1, 1, 0, 180deg) rotate3d(1, -1, 0, 180deg);
  }

  65%,
  75% {
    transform: rotate3d(1, 1, 0, 0deg) rotate3d(1, -1, 0, 180deg);
  }
}

.animation-plus3 {
  transform-origin: var(--animation-origin);
  animation: animation-plus3 linear forwards;
  animation-duration: calc(var(--animation-duration-symmetry) * 2.5);
}

@keyframes animation-plus3 {
  0%,
  90%,
  100% {
    transform: scaleX(1) scaleY(1);
  }

  15%,
  25% {
    transform: rotate3d(0, 1, 0, 180deg) rotate3d(1, 0, 0, 0deg)
      rotate3d(1, 1, 0, 0deg);
  }

  40%,
  50% {
    transform: rotate3d(0, 1, 0, 180deg) rotate3d(1, 0, 0, 180deg)
      rotate3d(1, 1, 0, 0deg);
  }

  65%,
  75% {
    transform: rotate3d(0, 1, 0, 180deg) rotate3d(1, 0, 0, 180deg)
      rotate3d(1, 1, 0, 180deg);
  }
}

.animation-symmetry-axis {
  animation: animation-symmetry-axis ease forwards;
  animation-duration: calc(var(--animation-duration-symmetry) * 3);
}

@keyframes animation-symmetry-axis {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

/* 次のレベルへ */
#next-level:not(.hide) {
  animation: animation-next-level linear forwards;
  animation-duration: calc(var(--animation-duration-symmetry) * 2);
}

@keyframes animation-next-level {
  0%,
  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animation-congratulations {
  animation: animation-congratulations linear forwards;
  animation-duration: calc(var(--animation-duration-symmetry) * 2);
}

@keyframes animation-congratulations {
  0%,
  20% {
    opacity: 0;
    transform: scale(0.8);
  }

  50%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animation-new-record {
  animation: animation-new-record linear forwards;
  animation-duration: calc(var(--animation-duration-symmetry) * 4);
}

@keyframes animation-new-record {
  0%,
  25%,
  55%,
  85% {
    opacity: 0;
    transform: scale(0.8);
  }

  40%,
  70%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* icon animation */
.animation-point1-icon {
  transform-origin: center;
  animation: animation-point1 ease forwards;
  animation-duration: var(--animation-duration-symmetry);
}

.animation-line1-icon {
  transform-origin: center;
  animation: animation-line1 ease forwards;
  animation-duration: var(--animation-duration-symmetry);
}
