@charset "UTF-8";

#dialog-levels {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 480px;
  max-height: 530px;
  padding: 0;
  margin: 132px auto;
  border: none;

  #dialog-levels-div {
    padding: 5px;
    padding-bottom: 10px;
  }

  #dialog-levels-svg {
    box-sizing: border-box;
    width: 450px;
    margin: 0;

    .level-select {
      cursor: pointer;
    }

    & text {
      font-size: 16px;
    }
  }

  &::backdrop {
    cursor: pointer;
    background-color: rgb(0 0 0 / 50%);
  }

  &,
  &::backdrop {
    animation: fade-in-dialog 0.1s ease-out 1 forwards;
  }
}

@keyframes fade-in-dialog {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
