@charset "UTF-8";

#dialog-help {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 480px;
  max-height: 640px;
  padding: 0;
  margin: 42px auto;
  border: none;

  #dialog-help-div {
    padding: 5px;
    padding-bottom: 10px;
  }

  #dialog-help-top {
    display: flex;
    align-items: center;

    & * {
      margin: 5px;
    }

    > button:nth-of-type(1) {
      margin-left: auto;
    }

    .setting-lang-button {
      width: calc(100% / 4 - 10px);
      height: 40px;
      font-size: 1rem;
      font-weight: bold;
      color: #505050;
      cursor: pointer;
      user-select: none;
      background-color: #dddddd;
      border: 4px solid #cccccc;
      outline: none;

      &:hover {
        opacity: 0.8;
      }

      &.active {
        color: #000055;
        background-color: #c0cbff;
        border: 4px solid #bbbbee;
        opacity: 1;
      }
    }
  }

  .tab-area {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .tab {
    box-sizing: border-box;
    display: block;
    order: -1;
    float: left;
    width: calc(100% / 4 - 10px);
    height: 58px;
    margin: 5px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 50px;
    color: #505050;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: #dddddd;
    border: 4px solid #cccccc;

    &:hover {
      opacity: 0.8;
    }
  }

  .tab-content {
    display: none;
    width: 100%;

    .user-block-line,
    .user-block-point,
    .user-block-special,
    .target-block {
      margin: 0 7px;
    }

    .help-mode {
      display: block;
      padding: 7px 0;
      margin: 5px;
      font-size: 1.5rem;
      font-weight: bold;
      color: #000055;
      background-color: #c0cbff;
    }
  }

  & input {
    &[name='help-tab'] {
      display: none;
    }

    &:checked + .tab {
      background-color: #ffeedd;
      border: 4px solid #ffbb77;
      opacity: 1;

      & + .tab-content {
        display: block;
      }
    }
  }

  #help-tab-app + label {
    border-radius: 10px;
  }

  #help-tab-line + label {
    border-radius: 10px 10px 20px 20px;
  }

  #help-tab-point + label {
    border-radius: 10px 20px;
  }

  #help-tab-special + label {
    border-radius: 15px;
  }

  .logo-image {
    width: 50px;
  }

  .border {
    padding: 5px;
    margin: 10px 30px;
    border: 1px solid #dddddd;
  }

  .bold {
    font-weight: bold;
  }

  .example-div {
    width: calc(100% - 20px);
    margin: 10px auto;
  }

  .example-image {
    width: 329px;
    height: 81px;
  }

  .example-image-2 {
    width: 209px;
    height: 81px;
  }

  & hr {
    margin: 0;
  }

  .warn {
    padding: 5px;
    margin: 5px;
    background: #ffddbb;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tatt61880-icon {
    width: 32px;
    height: 32px;
    margin-right: 5px;
  }

  &::backdrop {
    cursor: pointer;
    background-color: rgb(0 0 0 / 50%);
  }

  &,
  &::backdrop {
    animation: fade-in-dialog 0.1s ease-out 1 forwards;
  }
}

@keyframes fade-in-dialog {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
