@charset "UTF-8";

#dialog-levels {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 460px;
  max-height: 540px;
  padding: 0;
  margin: 130px auto;
  border: none;
  outline: none;

  .toggle-label svg {
    width: 100%;
    height: 100%;
  }

  #dialog-levels-div {
    padding: 5px;
    padding-bottom: 7px;
    background-color: #ddeeff;
  }

  #dialog-levels-top {
    display: flex;
    align-items: center;

    #dialog-levels-close-svg {
      margin: 0 10px 5px;
    }

    .spacer {
      flex-grow: 1;
    }

    #dialog-levels-title {
      font-size: 1.5rem;
      font-weight: normal;
      color: #333388;
      text-shadow: var(--pseudo-bold-shadow);
    }

    #display-text {
      color: #7799bb;
    }

    #toggle-div {
      display: flex;
      align-items: center;
      margin-right: 10px;

      .toggle-text {
        font-size: 1.2rem;
        font-weight: normal;
        text-shadow: var(--pseudo-bold-shadow);
      }

      .toggle-button {
        position: relative;
        width: 53px;
        height: 53px;
        margin: 0 3px 15px;
      }

      .toggle-label {
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 5px;
        cursor: pointer;
        background: #f1f8ff;
        border: 4px solid #99ccff;
        border-radius: 20%;

        svg {
          transform: scale(0.5);
        }
      }

      .toggle-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;

        &:checked + .toggle-label > svg {
          transform: scale(1);
        }
      }
    }
  }

  #dialog-levels-svg {
    box-sizing: border-box;
    width: 452px;
    height: 255px;
    margin: 0;

    .level-select {
      cursor: pointer;
    }
  }

  &::backdrop {
    cursor: pointer;
    background-color: rgb(0 0 0 / 50%);
  }

  &,
  &::backdrop {
    animation: fade-in-dialog 0.1s ease-out 1 forwards;
  }
}

@keyframes fade-in-dialog {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
