@charset "UTF-8";

#dialog-records {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 480px;
  max-height: 618px;
  padding: 0;
  margin: 42px auto;
  border: none;

  #dialog-records-div {
    padding: 5px;
    padding-bottom: 10px;
  }

  #records-top {
    display: flex;
    align-items: center;

    & * {
      margin: 5px;
    }
  }

  #records-table-div {
    & table {
      margin: 5px auto;
      font-size: 18px;
      border-collapse: collapse;
    }

    & th,
    & td {
      height: 40px;
      padding: 5px 15px;
      border: 1px solid #5555aa;

      & * {
        vertical-align: middle;
      }
    }

    & th {
      color: #001a33;
      background-color: #ddeeff;
    }

    .total-col {
      display: none;
      border-left: double;
    }

    .total-row {
      display: none;
      border-top: double;
    }
  }

  &::backdrop {
    cursor: pointer;
    background-color: rgb(0 0 0 / 50%);
  }

  &,
  &::backdrop {
    animation: fade-in-dialog 0.1s ease-out 1 forwards;
  }

  .record-dialog-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #000055;
  }
}

@keyframes fade-in-dialog {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
