#dialog-help {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 480px;
  height: 470px;
  padding: 0;
  margin: 44px auto;
  border: none;
}

#dialog-help .bold {
  font-weight: bold;
}

#dialog-help::backdrop {
  cursor: pointer;
  background-color: rgb(0 0 0 / 50%);
}

#setting-lang {
  display: flex;
  justify-content: flex-end;
}

.setting-lang-button {
  width: 80px;
  height: 30px;
  margin: 5px;
  font-weight: bold;
  color: #505050;
  cursor: pointer;
  user-select: none;
  background-color: #dddddd;
  border: none;
  outline: none;
}

.setting-lang-button.active {
  color: #dddddd;
  background-color: #505050;
}

.translatable.hidden {
  display: none;
}

.example-image {
  width: 380px;
  height: 140px;
}

.warn {
  padding: 5px;
  margin: 20px;
  background: #ffddbb;
}
