@charset "UTF-8";

#dialog-levels {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 480px;
  max-height: 350px;
  padding: 0;
  margin: 140px auto;
  border: none;
}

#dialog-levels-svg {
  box-sizing: border-box;
  width: 450px;
  margin: 0;
}

#dialog-levels-svg .level-select {
  cursor: pointer;
}

#dialog-levels::backdrop {
  cursor: pointer;
  background-color: rgb(0 0 0 / 50%);
}
