@charset "UTF-8";

#dialog-shapes {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 460px;
  max-height: 450px;
  padding: 0;
  margin: 0 auto;
  border: none;
  outline: none;

  #dialog-shapes-div {
    padding: 5px 5px 15px;
    padding-bottom: 10px;
    background-color: #ffeedd;
  }

  #dialog-shapes-top {
    display: flex;
    align-items: center;

    & * {
      margin: 5px;
    }

    .spacer {
      flex-grow: 1;
    }

    .caption {
      font-size: 1.5rem;
      font-weight: normal;
      color: #ff7700;
      text-shadow: var(--pseudo-bold-shadow);
    }
  }

  #dialog-shapes-svg {
    box-sizing: border-box;
    width: 452px;
    height: 127px;
    margin: 0;

    .shape-select {
      cursor: pointer;
    }
  }

  &::backdrop {
    cursor: pointer;
    background-color: rgb(0 0 0 / 50%);
  }

  &,
  &::backdrop {
    animation: fade-in-dialog 0.1s ease-out 1 forwards;
  }
}

@keyframes fade-in-dialog {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
