@charset "UTF-8";

#dialog-records {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 480px;
  max-height: 618px;
  padding: 0;
  margin: 44px auto;
  border: none;

  #dialog-records-div {
    padding: 5px 5px 10px;
  }

  .border {
    padding: 5px;
    margin: 10px 30px;
    border: 1px solid #dddddd;
  }

  .bold {
    font-weight: bold;
  }

  #records-top {
    display: flex;
    align-items: center;
  }

  #records-table-div {
    & table {
      margin: auto;
      border-collapse: collapse;
    }

    & th,
    & td {
      height: 40px;
      padding: 5px 15px;
      border: 1px solid black;
    }

    & th {
      background-color: #ddeeff;
    }

    .total-col {
      border-left: double;
    }

    .total-row {
      border-top: double;
    }
  }

  &::backdrop {
    cursor: pointer;
    background-color: rgb(0 0 0 / 50%);
  }
}
