@charset "UTF-8";

#game {
  box-sizing: border-box;
  width: 500px;

  #level-widget {
    box-sizing: border-box;
    height: 84px;
    background-color: #cceeff;
  }

  #main-div {
    position: relative;
    box-sizing: border-box;
    width: 490px;
    height: 330px;
    padding: 0;
    margin: 5px;

    #main-svg {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  #url-div {
    padding: 1.2px;
  }

  #controller-widget {
    #button-undo:hover,
    .active-hover:hover {
      filter: contrast(90%);
    }

    #controller-stick-base {
      display: block;
      opacity: 1;
      transition: 0.5s;

      &.hide {
        opacity: 0;
      }
    }
  }

  .controller-stick-area {
    cursor: pointer;
    user-select: none;
  }

  .stick {
    transition: 0.1s;
  }

  .low-contrast {
    opacity: 0.7;
  }
}
