@charset "UTF-8";

#game {
  box-sizing: border-box;
  width: 500px;

  #level-widget {
    box-sizing: border-box;
    background-color: #ddeeff;
  }

  #main-div {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 490px;
    height: 330px;
    padding: 0;
    margin: 5px;

    #main-svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
