@charset "UTF-8";

#game {
  box-sizing: border-box;
  width: 500px;

  #level-widget {
    box-sizing: border-box;
    background-color: #cceeff;
  }

  #main-div {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 490px;
    height: 330px;
    padding: 0;
    margin: 5px;

    #main-svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  #url-div {
    padding: 1.2px;
  }

  #controller-widget {
    #controller-stick-base {
      display: block;
      opacity: 1;
      transition: 0.5s;

      &.hide {
        opacity: 0;
      }
    }
  }

  .controller-stick-area {
    cursor: pointer;
    user-select: none;
  }

  .stick {
    transition: 0.1s;
  }
}
