html {
  font-size: 16px;
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: #ccffff;
}

#contents {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 1.1rem;
  text-align: left;
  background-color: pink;
  border: 1px solid pink;
}

.title {
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #550000;
}

#version {
  font-size: 0.7rem;
  font-weight: bold;
  color: #aa7777;
}

footer {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  color: #aa7777;
  background-color: pink;
}

h2 {
  position: relative;
  margin: 0 0 5px;
  font-size: 1.1rem;
  color: #335577;
  background-color: skyblue;
}

div.noselect {
  user-select: none;
}

div.inner {
  margin: 10px;
}

div.level {
  background-color: #cceeff;
}

.button {
  cursor: pointer;
  user-select: none;
}

.active-hover:active:hover {
  filter: contrast(60%);
}

.stick {
  cursor: pointer;
  user-select: none;
}

svg {
  padding: 0;
  margin: 0;
  user-select: none;
}

#main {
  position: relative;
  width: 480px;
  height: 250px;
  padding: 0;
  margin: 10px;
}

#svg-main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translateY(-50%) translateX(-50%);
}

span.red-block {
  padding: 0 4px;
  margin: 4px;
  font-weight: bold;
  color: red;
  background-color: pink;
  border: solid 2px red;
}

span.blue-block {
  padding: 0 4px;
  margin: 4px;
  font-weight: bold;
  color: blue;
  background-color: cyan;
  border: solid 2px blue;
}

text {
  pointer-events: none;
}

.hide {
  display: none;
}

.low-contrast {
  filter: contrast(60%);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 3px 10px;
  text-align: left;
  word-break: break-all;
  list-style-type: none;
  border: 1px solid #f0f0f0;
}

li.warn {
  background-color: #fffbe5;
  border: 1px solid #fff5c2;
}
