@charset "UTF-8";

html {
  font-size: 16px;
  touch-action: manipulation;

  /*
  -webkit-text-size-adjust: 100%;
  */
}

body {
  margin: 0;
  font-family: 'Kosugi Maru', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  background-color: #ccffff;

  /*
  font-feature-settings: 'kern' 0;
  font-kerning: none;
  font-variant-ligatures: none;
  letter-spacing: -0.01em;
  word-spacing: -0.1em;
  text-rendering: geometricPrecision;
  */
}

#contents {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

header {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 42px;
  text-align: left;
  background-color: #ccccff;

  .title {
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #333388;
  }

  .title-sub {
    margin-left: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #7777cc;
  }
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  font-size: 1rem;
  font-weight: bold;
  color: #7777cc;
  background-color: #ccccff;
}

@media (width <= 501px) {
  .shortcut-key {
    display: none;
  }

  #level-widget {
    height: 88px;
  }
}

image.check-mode,
img.check-mode {
  width: 40px;
  height: 40px;
}

div.user-select-none {
  -webkit-user-select: none; /* Safari 対応 */
  user-select: none;
}

.button {
  cursor: pointer;
  user-select: none;
}

.active-hover:hover {
  opacity: 0.8;
}

.active-elem,
.active-hover:active:hover {
  opacity: 0.5;
}

svg {
  padding: 0;
  margin: 0;
  user-select: none;
}

text {
  pointer-events: none;
}

.hide,
.hide-lang,
.hide-mode {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#top {
  cursor: pointer;
}

#console-widget {
  color: #eeeeff;
  background-color: #335577;
  border: 3px solid #113355;

  & ul {
    padding: 0;
    margin: 0;
  }

  & li {
    box-sizing: border-box;
    padding: 3px 10px;
    text-align: left;
    word-break: break-all;
    list-style-type: none;
    border-top: 1px solid #f0f0f0;

    &.warn {
      color: #555555;
      background-color: #fffbe5;
      border: 1px solid #fff5c2;
    }
  }
}

.symmetry-axis {
  opacity: 0.7;
}

.user-block-title {
  width: 100%;
}
