html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: #ccffff;
}

div.noselect {
  user-select: none;
}

#contents {
  max-width: 500px;
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: white;
}

h1 {
  position: relative;
  top: -5px;
  margin: 0;
  font-size: 18px;
  background-color: pink;
}

h2 {
  position: relative;
  top: -5px;
  margin: 0;
  background-color: skyblue;
  font-size: 18px;
}

.button {
  cursor: pointer;
  user-select: none;
}

.active-hover:active:hover {
  filter: contrast(60%);
}

.stick {
  cursor: pointer;
  user-select: none;
}

svg {
  margin: 0;
  padding: 0;
  user-select: none;
}

div.inner {
  margin: 10px;
}

div.pink {
  margin-bottom: 5px;
  border: solid 5px pink;
}

div.skyblue {
  margin-bottom: 5px;
  border: solid 5px skyblue;
}

text {
  pointer-events: none;
}
