@charset "UTF-8";

#title {
  box-sizing: border-box;
  width: 500px;
  height: 624px;

  & table {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 648px;
  }

  .title-button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 135px;
    margin: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    user-select: none;
    background-color: #ffebee;
    border: 6px solid #ff99aa;

    &:hover {
      background-color: #fff5f7;
    }

    &#button-play-point {
      border-radius: 10% 33% / 10% 66%;
    }

    &#button-play-line {
      border-radius: 10% 10% 33% 33% / 10% 10% 50% 50%;
    }

    &#button-records {
      background-color: #ddeeff;
      border-color: #aabbff;
      border-radius: 20%;

      &:hover {
        background-color: #e4f8ff;
      }
    }
  }

  .title-button-text {
    font-weight: bold;
  }
}
